.FoodItem{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 380px;
    background: linear-gradient(0deg, #f56692 0%, #f5994a 100% );
    align-items: start;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
    margin: 30px;
}

.FoodItem .image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(252, 246, 249, 0.78);
    margin: 20px;
    overflow: hidden;
    width: 220px;
    height: 180px;
    border-radius: 25px;
    position: relative;
    /* top: 5px; */
}

.FoodItem .description{
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.FoodItem .image img {
    max-width: 125%;
    max-height: 125%;
}

